<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="alex.com.githubchecker">

    <!--Permissions-->
    <uses-permission android:name="android.permission.INTERNET" />

    <!--Note: If this was a production app I would have this in a debug manifest-->
    <uses-permission android:name="android.permission.WAKE_LOCK" />

    <application
        android:name=".GithubCheckerApp"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">

        <activity
            android:name=".components.github.list.RepoPRListActivity"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity
            android:name=".components.github.pullrequest.PRDiffActivity"
            android:screenOrientation="portrait" />
    </application>
</manifest>
